:root {
  --top-vertical: 0px;
  --left-horizontal: 32px;
  --dimensiones-grupo: 70px;
}

* {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  user-select: none;
}

body {
  /* background-image: url("../img/tablero.jpg"); */
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323039/black-wood-small.jpg);
}
.contenedorAnotador {
  display: flex;
  flex-direction: column;
}

#jugadoresContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.nombre {
	margin-top:-30px;
}
.imgnombres {
	width: 95%;
	/* width: 180px; */
}
.jugadorContainer {
  width: 40vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(253, 237, 207); */
  border-radius: 10px;
  margin: 10px;
}

img {
  height: var(--dimensiones-grupo);
}

.cuenta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.grupo {
  position: relative;
  height: var(--dimensiones-grupo);
  width: var(--dimensiones-grupo);
  margin: 5px;
}

.fosforo {
  height: 55px;
}
.fosforo1 {
  position: absolute;
  transform: rotate(90deg);
  top: -30px;
  left: var(--left-horizontal);
}

.fosforo2 {
  position: absolute;
  transform: rotate(180deg);
  left: 65px;
  top: var(--top-vertical);
}

.fosforo3 {
  position: absolute;
  transform: rotate(270deg);
  top: 32px;
  left: var(--left-horizontal);
}

.fosforo4 {
  position: absolute;
  left: 0px;
  top: var(--top-vertical);
}

.fosforo5 {
  position: absolute;
  transform: rotate(45deg);
  left: 34px;
  top: 0px;
}

.botonesJugador {
  position: absolute;
  bottom: 30px;
  gap: 10px;

}

button.agregar {
  box-shadow: 3px 4px 4px -1px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 10px 28px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #5b8a3c;
}
button.agregar:hover {
  background: linear-gradient(to bottom, #97e66f 5%, #5f9845 100%);
  background-color: #72b352;
}
button.restar {
  box-shadow: 3px 4px 4px -1px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #e14d3f;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #e13526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 10px 28px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #c62d1f;
}
button.restar:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
button:active {
  position: relative;
  top: 1px;
}
.h2Score {
  position: absolute;
  margin-bottom: 100px;
  font-weight: bold;
  visibility: hidden;
}
.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  font-size: 30px;
  background: #0b0002;
  border-radius: 5px;
  font-family: "Silkscreen", cursive;
  font-style: normal;
  font-weight: bold;
  line-height: 110px;
  text-align: center;
  margin-top: 8px;
}
.contadorNosotros {
  color: #f94f6d;
  margin-top:8px;
}
.contadorEllos {
  color: #f94f6d;
  margin-top:8px;
}
.contenedor-bt-reset{
	position: absolute;
	top: 10;
    left: 0;
    right: 0;
    margin: auto;
}
#reset {
	background: none;
	border-radius: 70%;
	font-weight: bold;
	background-color:#f3cc8e; 
	color: black;
	background-image: linear-gradient(top, #e2e6e7 0% ,#ac7f15 100%);   
}
dialog {
  font-size: larger;
  background-color: rgb(244, 242, 240);
  border-radius: 10px;
  /* padding: 30px 40px 30px 40px; */
  width: auto;
}
dialog button {
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
}

.separador {
  border-top: 2px solid white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top:5px;
  margin-bottom: 10px;
}

@media (min-width: 450px) {
  .separador {
    height: 0px;
	width: 150%;
	margin-left: -20px;
    border-top: unset;
    border-bottom: 3px solid white;
	margin-top:20px;
 	margin-bottom: 20px;
  }
  .jugadorContainer {
    width: 21vw;
    margin-top: 5vh;
    min-height: 65vh;
  }
  dialog {
    font-size: larger;
    background-color: rgb(244, 242, 240);
    border-radius: 10px;
    /* padding: 30px 40px 30px 40px; */
    width: 30%;
  }
}
